<div class="container" >
    <article class="row">
        <h6 class="center-align"><a href="/dashboard/{{id}}">{{postData.title}}</a></h6>
        <div class="text-wrap">
            <p>{{postData.body}}</p>
            <p>Posted on: {{format_date postData.createdAt}} by {{postData.User.username}}</p>
        </div>
    </article>
</div>
<br> </br>
{{#if postData.Comments}}
        <div class="row" >
            <h5 class="center-align" >Comments</h5>
        </div>
        {{#each postData.Comments}}
            <div class="container" >
                <article class="row">
                    <div class="text-wrap">
                        <p>{{postData.Comments.body}}</p>
                        <p>Posted on: {{format_date createdAt}} by {{User.username}}</p>
                    </div>
                </article>
            </div>
        {{/each}}
{{/if}}

<div class="container" >
    <article class="row">
        <h5 class="center-align">Add New Comment</h5>
            <div>
                <form id="new-comment-form" class="col s12">
                    <div class="col s12">
                        Comment:
                        <div class="input-field">
                            <textarea id= "comment-body" type= "text" class= "form-input materialize-textarea"></textarea>
                            <label for= "comment-body"></label>
                        </div>
                    </div>
                    <div class= "center-align">
                        <button type="submit" id= "commentBtn" class="btn waves-effect waves-light btn-small">Add Comment</button>
                    </div>
                </form>
            </div>
    </article>
</div>


<script src="/js/comment.js"></script>

