<div>
  {{#each postData}}
    <div class="container" >
      <article class="row">
          <h6 class="center-align"><a href="/posts/{{id}}">{{title}}</a></h6>
          <div class="text-wrap">
              <p>{{body}}</p>
              <p>Posted on: {{format_date createdAt}} by {{User.username}}</p>
          </div>
      </article>
    </div>
  {{/each}}
</div>
